[FacilityModule myfacility]
File = libmyfacility.so
#Configuration =

[Module algorithms]
File = libsharemind_mod_algorithms.so
#Configuration =

[Module a3p]
File = libsharemind_mod_additive3p_emu.so

[ProtectionDomain a3p]
Name = pd_a3p
Kind = additive3pp
Configuration = additive3pp.cfg

