[AccessControl]

; Path to the file specifying access rulesets:
PoliciesFile = %{CurrentFileDirectory}/emulator-access-control.conf
; User that is running the emulator
DefaultUser = DebugUser

[FacilityModule loghard]
File = libsharemind_facility_loghard.so
Configuration = backend logger [Emulator] module Logger facilitymodule Logger stderr

[FacilityModule executionprofiler]
File = libsharemind_facility_executionprofiler.so
Configuration = Logger emulator-profile.csv

[Module executionprofiler]
File = libsharemind_mod_executionprofiler.so
;Configuration =

[Module algorithms]
File = libsharemind_mod_algorithms.so
;Configuration =

[Module shared3p]
File = libsharemind_mod_shared3p_emu.so
;Configuration =

[ProtectionDomain pd_shared3p]
Kind = shared3p
Configuration = %{CurrentFileDirectory}/shared3p_emu.cfg

